{% block footer %}

        <div class="footer">
            <div class="card-body">
                <h5 class="card-title">SHINE ESTHETICS</h5>
                <p class="card-text" style="font-size:medium">Shine corporation 2020 || copyright</p>
                <p><a href="{{ path('contact') }}" class="btn btn-danger">Contact</a></p>
                <p class="float-right" style="font-size: medium"><a href="#">Retour au top</a></p>
                <br>

            </div>
        </div>

{% endblock %}