{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="titre">
        {{ titre }}
    </div>



    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

