{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Tableau de Bord' %}

{% block page_content %}
    <h1>Nombres d'utilisateurs  en base de donnée: {{ nbrUsers }}</h1>

{% endblock %}
